{
	"presets": [
		[
			"env",
			{
				"targets": {
					"node": 6
				},
				"loose": true,
				"modules": "commonjs"
			}
		],
		"stage-1"
	],
	"plugins": [
		"transform-class-properties",
		"transform-es2015-classes",
		[
			"transform-runtime",
			{
				"polyfill": false
			}
		]
	]
}
